@model Csabamotor.Web.Models.List

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                <a asp-action="Details">Name</a>
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                <a asp-action="Details">Date</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="@Url.Action("DisplayImage", "Items", new { id = item.Id })" class="item" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) Ft
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadTime)
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Back to list</a>
